<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Game1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="959981766504-9m4sm16bkc2572ki2umr4r86rmvpecdu.apps.googleusercontent.com">

    <link rel="icon" href="icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    

    <script src="/js/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/socket.io.js"></script>
    <script src="/js/pixi.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
